
nav .logo {
  height: 2.5em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-17%);
  transform: translateY(17%);
}

.main.menu {
  padding: .3em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
  ;
}

.main.menu .item img.logo {
  margin-right: 1.5em;
}

.overlay {
  float: left;
  margin: 1em 3em 0em 0em;
}
.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
  left: 800px;
}

.masthead{
  text-align: center;
}

.masthead .logo {
  padding-top: 1.5em;
  width: 250px;
}

.masthead h1.ui.header {
  font-size: 2em;
}

.masthead .mockshot {
  margin-top: .4em;
}


.masthead.logo {
  height: 3em;
}


.overview {
  padding: 2em 0 2em 0;
}

footer {
  margin-top: 6em !important;
}

.thankYou {
  margin-top: 10em !important;
}

/*-------tools---------*/

.vert-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
