
.divider.xl {
  margin: 2em 0;
}


.main.menu {
  height: 4em;
  padding: .3em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
  ;
}

.actioncyBlue {
  color: #378dcc !important;
}

.actioncyRed {
  color: #ae0027 !important;
}

.overlay {
  float: left;
  margin: 1em 3em 0em 0em;
}
.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
  left: 800px;
}

.valueProp {
}

.masthead .logo {
  padding-top: 1.5em;
  width: 250px;
}

.masthead .mockshot {
  margin-top: .4em;
}

.overview {
  color: grey;
  padding: 2em 0 2em 0;
}

.acyShadow {
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

footer {
  margin-top: 6em !important;
}

.thankYou {
  margin-top: 2em !important;
}

.thankYou .segment {
  padding-left: 4em !important;
  padding-right: 4em !important;
}
